
* {
  box-sizing: border-box;
}

body {
  padding: 1rem 4rem;
}

.container {
  height: 80vh;
  display: flex;
  justify-content: stretch;
  gap: 4rem;
}

.recent {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.recent-header {
  display: flex;
}

.recent-header h2 {
  flex: 1;
}

.recent-list {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.add {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.add form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add form button {
  align-self: flex-end;
}

.recent-list li {
  border: solid 1px;
  padding: 0.2rem;
}
