
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem;
  font-family: 'Aldrich', 'Courier New', Courier, monospace;
  color: #fff;
  outline: none;
}

body {
  padding: 1rem 4rem;
  background-color: #272343;
  overflow: hidden;
  height: 90vh;
}

.container {
  display: flex;
  justify-content: stretch;
  gap: 4rem;
  height: 90%;
}

.recent {
  flex: 2;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.recent-header {
  display: flex;
  align-items: baseline;
}

.recent-header h2 {
  flex: 1;
}

.recent-list {
  list-style-type: none;
  box-shadow: 2px 2px 8px 0 white;
  padding: 0;
  border: solid 1px #bae8e8;
  overflow: auto;
  max-height: 80% ;
}

.add {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.add form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add form input {
  color: #272343;
}

.add form button {
  align-self: flex-end;
}

.recent-list li {
  padding: 0.3rem;
  background-color: #fff;
  color: #272343;
}

.recent-list li:nth-child(even) {
  background-color: #e3f6f5;
}

.recent-list::-webkit-scrollbar {
  width: 5px;
}

.recent-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.recent-list::-webkit-scrollbar-thumb {
  background-color: #888;
}